doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")
    link(rel = "canonical" href="http://nattycoleman.com")
    link(rel="shortcut icon" href="favicon.ico")
    link(rel="icon" href="favicon32.png")
    title.
      Natty Coleman - Portfolio
    meta(name = "description" content="Natty Coleman is a designer with experience in UX/UI, branding, and print work.")
    link(rel = "stylesheet" href="css/main.css")

  body

    section(class="page-head section")
      div(class="content-wrapper")
        div(class="this-is-me")
          h1(class="name") Natty Coleman
          p(class="occupation").
            Designer
      div(class="nav-wrapper")
        nav(class="navbar-wrapper")
          div(class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5d")
            a(href="#" id="next" class="next icon-arrow-down hi-icon display") Next
          div(class="hi-icon-wrap2 hi-icon-effect-5 hi-icon-effect-5c")
            a(href="#" id="prev" class="prev icon-arrow-up hi-icon display1") Previous


    section(class="intro section" id="one")
      div(class="content-block-center")
        h1(class="title") Good design makes <br> people more effective
        div(class="left-content-wrapper")
          p(class="description").
            I'm Natty Coleman, a designer of products, interfaces, interactions
            and experiences for both things on screen and on paper. I have 10 years of experience
            in solving problems and helping people achieve goals and get things done. I've
            worked with some incredibly talented teams on awesome challenges under ridiculous budgets
            and near-impossible deadlines. I've stayed up way too late, way too often answering the
            two questions that keep me focused, passionate, and curious:
            <em>how? why?</em>
      div(class="intro-pics")
        img(src="../img/intro-box-1-1.jpg")
        img(src="../img/intro-box-4-1.jpg")
        img(src="../img/intro-box-4-5.jpg")
        img(src="../img/intro-box-2-1.jpg")
        img(src="../img/intro-box-1-4.jpg")
        img(src="../img/intro-box-2-2.jpg")
        img(src="../img/intro-box-2-3.jpg")
        img(src="../img/intro-box-2-4.jpg")
        img(src="../img/intro-box-4-6.jpg")
        img(src="../img/intro-box-3-2.jpg")

    section(class="sprig section" id="two")
      div(class="content-block-center")
        div(class="right-content-wrapper")
          h1(class="title") Sprig
          h2(class="project-info") Design / Code / Branding / Print / Photo
          p(class="description").
             Sprig's mission is to make it simple for anyone to have healthy organic and affordable food brought to them in minutes.
             Money, time, and life's general mayhem shouldn't be an excuse for anyone not to eat well
             and care about both what goes in their bodies and how it's grown. 
             <br/></br>
             My time here as the only designer supporting a rapidly growing business has been
             extremely educational. So far we've tackled rebranding, developing a new design language,
             and designing a new app for three platforms. On top of all of this (and the always impossible deadlines) we are
             also rethinking the concept of a delivery experience. Many new services have recently sprung up to bridge the
             gap between digital and physical with real world applications, but we are always pushing to make this a 
             truly elevated experience, one that is based on hospitality and trust.
             <br/></br>
             This rebrand and redesign was undertaken to help close the communcation gap between
             what we promise and prepare for the customer and what the customer recieves and percieves. There is an
             incredible story to tell from when our kitchen gets its local organic produce in the morning to 
             the orchestration of preparing thousands of meals for customers later that day.
             <br/></br>
             Give the app a spin and download it <a href="http://app.sprig.com">HERE</a>.


             
          span(class="project-status").
            Current
        img(src="../img/sprig-pic-7.gif" alt="Sprig logo" class="half-right sprig-top")
        img(data-original="../img/sprig-pic-1b.jpg" alt="Sprig app menu" class="full lazy")
        div(class="half-left xango-vid")
          video(width="946" height="100%" poster="../img/sprig_animation_poster.jpg" controls)
            source(src="../img/sprig_animation_reel.mp4" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2")
            source(src="../img/sprig_animation_reel.webm" type="video/webm; vp8, vorbis")
        img(data-original="../img/sprig-pic-5.jpg" alt="Sprig main website" class="half-right lazy")
        img(data-original="../img/sprig-pic-4.jpg" alt="Wireframe sketches of app" class="half-left lazy")
        img(data-original="../img/sprig-pic-6.jpg" alt="Planning process with team" class="half-right lazy")
        img(data-original="../img/sprig-pic-2.jpg" alt="Spur app schedule screen" class="half-left lazy")
        img(data-original="../img/sprig-pic-3.jpg" alt="Spur app map screen" class="half-right lazy")


    section(class="xango section" id="three")
      div(class="content-block-center")
        div(class="right-content-wrapper")
          h1(class="title") XANGO
          h2(class="project-info") Design / Code / Print / Photo / Video
          p(class="description").
            XANGO has always been at the forefront
            of maintaining clean and modern design language and brand standards, even through the harsh
            environment that surrounds direct sales companies.  I was responsible for
            completing the launch of a new lifestyle-centered
            catalog, which was an awesome exercise in art direction and collaboration with amazing talent. We're also undergoing a
            sweeping overhaul of all existing web and mobile properties.
            Our main site and subsequent product family sites was stripped down to bare essentials in order to act as a
            narrative sales tool for our distributors, and our back office suite is being re-tooled to guide new
            distributors into growing their business quickly with a goal-centered approach that distills complex information
            and presents it in a clearly actionable way. We are achieving this through extensive user testing
            and research measuring the effectiveness of design choices through monitoring analytics (bounce rates, engagement time)
            as well as customer service feedback.
          span(class="project-status").
            Completed
        div(class="half-right xango-vid")
          video(width="946" height="100%" poster="../img/xango-poster-frame.jpg" controls)
            source(src="../img/xango-main-site.mp4" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2")
            source(src="../img/xango-main-site.oggtheora.ogv" type="video/ogv; codecs=theora,vorbis")
            source(src="../img/xango-main-site.webmsd.webm" type="video/webm; vp8, vorbis")
        img(data-original="../img/xango-site-1.jpg" alt="Close up of Xango product page layout" class="full lazy")
        img(data-original="../img/xango-site-2.jpg" alt="Wireframes for Xango product pages" class="half-left lazy")
        img(data-original="../img/xango-site-3.jpg" alt="Mobile view of Xango website" class="half-right lazy")
        img(data-original="../img/xango-site-4.jpg" alt="Tablet view of Xango back office dashboard" class="half-left lazy")
        img(data-original="../img/xango-site-5.jpg" alt="Xango product catalogs" class="half-right lazy")
        img(data-original="../img/xango-site-6.jpg" alt="Xango ten year anniversary magazine ad" class="half-left lazy")
        img(data-original="../img/xango-site-7.jpg" alt="Xango mobile Android app" class="half-right lazy")
        div(class="video-container two-third")
          iframe(width="1280" height="720" src="https://www.youtube.com/embed/AZp5onYXwCw?rel=0&autoplay=0&controls=0&colors=white&playsinline=1" frameborder="0" allowfullscreen="true" autoplay="0" controls="0" playsinline="1" color="white")

    section(class="spur section" id="four")
      div(class="content-block-center")
        div(class="left-content-wrapper")
          h1(class="title") Spur
          h2(class="project-info") Design / Code / Branding
          p(class="description").
            Startup Weekend events always get pretty hectic, and this one
            was no exception. I was drafted onto a team to create a new service with
            an accompanying app that enabled business-types at industry events to
            schedule open office-hours with anyone they'd like to network with, with
            a heavy emphasis on interests and actual conversation rather than titles
            and companies. Startup Weekends are also an interesting
            exercise where I get to bring everyone together and quickly step through the
            typical process of goal prioritization, user research, and content strategy
            "workshops" in order to distill a concrete direction for an MVP to present.
            We ended up winning 2nd place overall and taking home the design award (at
            a designed-themed weekend!) and some of the team has moved on to actually building
            out the project.
          span(class="project-status").
            Just for Fun
        div(class="half-right spur-vid")
          video(width="946" height="100%" poster="../img/spur-poster-frame.jpg" controls)
            source(src="../img/spur-animation.mp4" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2")
            source(src="../img/spur-animation.oggtheora.ogv" type="video/ogv; codecs=theora,vorbis")
            source(src="../img/spur-animation.webmhd.webm" type="video/webm; vp8, vorbis")
        img(data-original="../img/spur-pic-3.jpg" alt="App flow document close-up" class="full lazy")
        img(data-original="../img/spur-pic-1.jpg" alt="Wireframe sketches of app" class="half-left lazy")
        img(data-original="../img/spur-pic-2.jpg" alt="Planning process with team" class="half-right lazy")
        img(data-original="../img/spur-pic-4.jpg" alt="Spur app schedule screen" class="half-left lazy")
        img(data-original="../img/spur-pic-5.jpg" alt="Spur app map screen" class="half-right lazy")

    section(class="blacksmith section" id="three")
      div(class="content-block-center")
        div(class="right-content-wrapper")
          h1(class="title hyphenate") BLACK&shy;SMITH MFG
          h2(class="project-info") Design / Code / Print / Branding
          p(class="description").
            Startups are inherently difficult endeavors
            no matter what, but to add another layer of complexity and risk,
            Blacksmith Mfg. decided to tackle the business of manufacturing
            physical goods for others. We created a small design team and educated our
            salespeople and clients on different materials and manufacturing
            processes. We also helped guide companies
            through rapid product development cycles, applying agile
            planning methods to physical manufacturing, working with companies like Activision, Billabong,
            RVCA, Nixon, and many others. Our team created everything from high-level concept
            pitches all the way down to technical sketches detailing how users
            might interact with the product.
            <br/><br/>The team recently asked me to work with them again on designing a brand new website. Their previous
            site had been geared towards project management in the backend with the public-facing
            side being somewhat neglected. The new site will focus on creating a walkthrough of the
            product development process and will highlight the different services they offer to companies
            looking to get into making products for retail.

          span(class="project-status").
            Completed
        div(class="half-left bsmfg-vid")
          video(width="946" height="100%" poster="../img/bsmfg-site-poster-frame.jpg" controls)
            source(src="../img/bsmfg-site-vid.mp4" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2")
            source(src="../img/bsmfg-site-vid.ogv" type="video/ogv; codecs=theora,vorbis")
            source(src="../img/bsmfg-site-vid.webm" type="video/webm; vp8, vorbis")
        img(data-original="../img/bsmfg-sketch-pic.jpg" alt="Sketches of blacksmith logos" class="full lazy")
        img(data-original="../img/bsmfg-stationery.jpg" alt="Blacksmith MFG stationery" class="half-left lazy")
        img(data-original="../img/bsmfg-process-pic.jpg" alt="product technical sketch" class="half-right lazy")
        img(data-original="../img/bsmfg-nixon-pic.jpg" alt="Blackmsith produced Nixon packaging" class="half-left lazy")
        img(data-original="../img/bsmfg-cod-pic.jpg" alt="Blackmsith produced Call of Duty merchandise" class="half-right lazy")
        img(data-original="../img/bsmfg-isis-pic1.jpg" alt="Blackmsith produced iphone cases" class="half-left lazy")
        img(data-original="../img/bsmfg-isis-pic2.jpg" alt="Blackmsith produced backpack" class="half-right lazy")



    section(class="sbdc section" id="five")
      div(class="content-block-center")
        div(class="left-content-wrapper")
          h1(class="title") Utah SBDC
          h2(class="project-info") Design / Code
          p(class="description").
            I was fortunate enough to be brought on by the talented folks at <a href="http://leverpulley.com/">Lever Pulley</a>
            on the redesign of the Utah Small Business Development Centers' (the SBA's state program) website.
            They wanted a modern, friendly, and responsive design that highlighted the various education materials, events, and resources
            they bring to small business owners who are struggling to start or grow their business. This included access to local resources,
            educational modules, and various events. The major challenge was to create something that
            was modular enough to apply across an extensive and deep application but still be approachable and appeal
            to the wide range of businesses in Utah, from rural ranchers to software firms in downtown. The stakeholders
            were very receptive to trying out a more modern and collaborative approach to the project, which was a very refreshing change to
            the typical expectation of stacks of Photoshop mockups. We worked together through the information architecture, wireframes, style tiles,
            and finally module design phases.
          span(class="project-status").
            Completed
        img(src="../img/sbdc-site-1.png" alt="SBDC main site" class="half-right img-trans")
        img(data-original="../img/sbdc-site-2.jpg" alt="Website information architecture" class="full lazy")
        img(data-original="../img/sbdc-site-3.jpg" alt="SBDC business modules" class="half-left lazy")
        img(data-original="../img/sbdc-site-4.jpg" alt="SBDC mobile site view" class="half-right  lazy")

    section(class="personal section" id="six")
      div(class="content-block-center")
        div(class="right-content-wrapper")
          h1(class="title") iplayed.it
          h2(class="project-info") Design / Code
          p(class="description").
            <strong>Personal</strong> - A side project started by developer extraordinaire and my friend Clay Ferris, iPlayed.it
            combines our love of video games with building small, helpful products. The quick pitch: With flash sales and so many
            awesome AAA and indie games coming out lately, gamers' backlogs and wishlists grow pretty rapidly. iPlayed.it helps solve that
            by allowing gamers to quickly create lists to organize and rate games (such as: wishlists, currently playing, beaten, abandoned, etc.)
            and compare and swap items on the lists with friends. In a nutshell: Trello meets Letterboxd for games. Built using Grunt, Sass, AngularJS
            and the Giant Bomb API.
          span(class="project-status").
            Public beta soon
        img(src="../img/iplayedit-site-main.png" alt="iplayed.it main site view" class="half-right img-trans")
        img(data-original="../img/iplayedit-site-2.jpg" alt="iplayed.it friend view close-up" class="full lazy")
        img(data-original="../img/iplayed-it-swipe-menu.gif" alt="iplayed.it animation" class="half-left lazy")
        img(data-original="../img/iplayedit-site-3.jpg" alt="iplayed.it animation" class="half-right lazy")


    section(class="personal2 section" id="seven")
      div(class="content-block-center")
        div(class="left-content-wrapper")
          h1(class="title") Current
          h2(class="project-info") Design / Code
          p(class="description").
            <strong>Personal</strong> - Borne of frustration with the reporting tools built into the solar photovoltaic array attached to
            my house, an app intended to clean up and distill the complex information surrounding one's monthly
            electricty input and output. Research included reams of power bills from around the country,
            studies into consumption patterns, and limited user interviews. Designed to take a variety of inputs from solar panels, the power meter, and even electricty usage monitors like Watt
            Killer and present the information in an actionable and human-friendly way.  There is also a social component built in, to help you compare
            your usage patterns against friends, which in studies has show to reduce electricty usage. This idea was pitched to the Samsung
            Accelerator at the end of 2013 and led to me being flown to NYC by Adobe to lead panel discussions on the future of design at
            a Behance/99U event, which was a blast!
          span(class="project-status").
            Always in development
        img(data-original="../img/current-app-3.jpg" alt="current app analytics view on ipad" class="half-right lazy")
        img(data-original="../img/current-app-4.jpg" alt="current app social view" class="full lazy")
        img(data-original="../img/current-app-1.jpg" alt="current app dashboard wireframe" class="half-left lazy")
        img(data-original="../img/current-app-2.jpg" alt="current app dashboard view on ipad" class="half-right lazy")


    section(class="outro section")
      div(class="content-block-center")
        div(class="left-content-wrapper")
          h1(class="title") We're all just stories in the end...
          p(class="description").
            Science fiction geek, voracious reader, video game enthusiast. I've had a decently
            storied past: working on printing presses, designing clothing for major
            luxury brands, touring the country in the back of a smelly van with my band,
            working in film, helping startups design products, and now working in-house leading design at <a href="http://sprig.com">Sprig</a>.
          p(class="description").
            My new blog is still lacking in content but I am writing more stuff <a href="http://natty.svbtle.com/">HERE</a>.  
            I tend to post sketches up for sale on <a href="http://society6.com/nattyc">SOCIETY6</a>. Also, tumblr
            sometimes has things I <a href="http://quickanddead.tumblr.com">LIKE</a>.
            I take pictures and put them on <a href="http://instagram.com/nattycoleman">INSTAGRAM</a>. I post works-in-progress
            to <a href="http://dribbble.com/nattyc">DRIBBBLE</a> and put code up on <a href="http://github.com/nattyc">GITHUB</a>.
          p(class="description").
            I am always nerding out on some subject or another. As such I recently graduated from the UX Engineering bootcamp
            at Code Fellows in lovely Seattle. I even used these skills to build this site from scratch using
            Grunt, Sass, and a sprinkling of JS.
          p(class="description").
            Are you a company that is building meaningful products that will help contribute to
            making my science fiction dreams come true? Hit me up! I am also available for limited freelance work. <a href="mailto:natty.coleman@gmail.com">EMAIL ME</a>.
      //- div(class="learning-bar")
      //-   div(class="content-block-center")
      //-     h1 This month, I am trying to wrap my head around... <span data-typer-targets="D3.js,QC/Origami,Angular JS,"></span>
      footer(class="social-links")
        a(href="http://dribbble.com/nattyc" class="dribbble icon-dribbble") Dribbble
        a(href="http://twitter.com/nattyc" class="twitter icon-twitter") Twitter
        a(href="http://github.com/nattyc" class="github icon-github") GitHub
        a(href="http://natty.svbtle.com" class="blog icon-pencil") Blog


    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" )
    script(src="../js/vendor/jquery-1.10.2.min.js" )
    script(src="../js/min/plugins.min.js" )
    script(src="../js/min/main.min.js" )
